* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* ================= Area de jeu ====================== */

#gameArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.flip-container {
    perspective: 200px;
}

.flip-container, .card-front, .card-back {
    width: 150px;
    height: 150px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 25%;
}

.card-front, .card-back {
    align-items: center;
    transition: .2s ease-in;
    border-radius: 20px;
    background-position: center;
}

.card-front {
    position: absolute;
    top: 0;
    z-index: 2;
    background-image: url("../images/cards-front.png");
    background-size: cover;
}

.show {
    opacity: 1;
    transform: rotateY(180deg);
}

.hide {
    opacity: 0;
    transform: rotateY(0deg);
}

.card-back {
    background-image: url('../images/card-back-s.png');
    background-size: cover;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 20px black;
    cursor: pointer;
}

.card {
    transition: .2s ease-in-out;
    margin: 10px;
    border-radius: 20px;
}

/* ================= Area de joueur ====================== */

.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid red;
    width: 100%;
    /* height: 90vh; */
}

.board {
    grid-area: board;
    display: inline-block;
}

.player {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #615f5f;
    height: 100vh;
}

.player, .setting {
    background-color: #ed1b2f;
}

#startButton {
    padding: 10px;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #000000;
    transition: 2s letter-spacing, 2s color, 2s background-color;
    cursor: pointer;
    animation-name: startMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes startMove {
    0% {
        letter-spacing: normal;
    }
    50% {
        letter-spacing: 3px;
    }
    100% {
        letter-spacing: normal;
    }
}

#startButton:hover {
    color: black;
    background-color: white;
}

p {
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}