.game{
    display: grid;
    grid-template-areas:
    "setting board player";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 500px;
}
.setting{
    grid-area: setting;
    display: inline-block;
    border: 1px solid black;
}
.board{
    grid-area: board;
    display: inline-block;
}

.player{
    grid-area: player;
    display: inline-block;
    border: 1px solid black;

}
