body {
    width: 75%;
    margin: auto;
}

.user-manager {
    display: flex;
    justify-content: space-between;
}

.user-manager .user, .user-manager .role {
    width: 50%;
    margin: 10px;
}

.user-manager h3 {
    text-align: center;
}

.user-table, .role-list {
    border: 1px solid black;
    width: 100%;
}

.user-table th, .user-manager .role p {
    background-color: black;
    color: white;
}

.user-table tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

.user-table td, .user-table th, .user-manager .role p {
    padding: 10px;
}

.role-list {
    list-style: none;
    padding-left: 0;
}

.role-list li {
    padding: 10px;
}

.selected {
    background-color: lightgrey;
}