* {
    box-sizing: border-box;
}

#ticTacToe {
    position: relative;
}

.grid-container {
    margin: auto;
    position: relative;
}

.grid-container>div {
    position: absolute;
    border-width: 2px;
}

.grid-container>div {
    cursor: pointer;
}

.grid-container>div:nth-child(2), .grid-container>div:nth-child(8) {
    border-left-style: solid;
    border-left-color: black;
    border-right-style: solid;
    border-right-color: black;
}

.grid-container>div:nth-child(4), .grid-container>div:nth-child(6) {
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.grid-container>div:nth-child(5) {
    border-style: solid;
    border-color: black;
}