* {
    padding: 0;
    margin: 0;
}

#gameArea {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.flip-container {
    perspective: 200px;
}

/* flip the pane when hovered */

.flip-container, .card-front, .card-back {
    width: 200px;
    height: 200px;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 25%;
}

/* hide back of pane during swap */

.card-front, .card-back {
    align-items: center;
    transition: .2s ease-in;
    border-radius: 20px;
}

/* front pane, placed above back */

.card-front {
    position: absolute;
    top: 0;
    z-index: 2;
    background-image: url("../images/cards-front.png");
    background-size: cover;
}

.show {
    opacity: 1;
    transform: rotateY(180deg);
}

.hide {
    opacity: 0;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.card-back {
    background-image: url('../images/card-back-s.png');
    background-size: cover;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 20px black;
}

.card {
    transition: .2s ease-in-out;
    margin: 10px;
    border-radius: 20px;
}

/* .game {
    display: grid;
    grid-template-areas: "setting board player";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 500px;
} */

.setting {
    display: block;
    border: 1px solid black;
}
.setting form{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
}