<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
}

#cards {
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
}

.flip-container {
    perspective: 200px;
}

/* flip the pane when hovered */

.flip-container, .card-front, .card-back {
    width: 200px;
    height: 200px;
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s ease-in;
}

/* front pane, placed above back */

.card-front {
    z-index: 2;
    background-image: url("../images/cards-front.png");
    background-size: cover;
}

.show {
    opacity: 1;
    transform: rotateY(180deg);
}

.hide {
    opacity: 0;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.card-back {
    /* background-image: url('../images/card-back-s.png'); */
    background-size: cover;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 8px black;
}

.card {
    transition: .5s ease-in;
}
=======
.game{
    display: grid;
    grid-template-areas:
    "setting board player";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 500px;
}
.setting{
    grid-area: setting;
    display: inline-block;
    border: 1px solid black;
}
.board{
    grid-area: board;
    display: inline-block;
}

.player{
    grid-area: player;
    display: inline-block;
    border: 1px solid black;

}
>>>>>>> 4a36cf3ab7af4fc733da616045043f22caa1418b
